@use "./modules/" as *;

button {
  @include button_style(6px);
  @include font_size(m);
}

#extend_learn {
  @extend button;
  background-color: red;
}

/* mobile first approach */

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  margin: 2rem;
}

/* for desktop */
@media all and (min-device-width: 500px) {
  .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 1rem;
    max-width: 1920px;
  }
}

.flex__card {
  background-color: #ffffff;
  margin: 0.8em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* for tablet */
@media all and (min-device-width: 768px) {
  .flex__card {
    max-width: 40%;
  }
}

/* for desktop */
@media all and (min-device-width: 1200px) {
  .flex__card {
    max-width: 18%;
  }
}

img {
  width: 70%;
  display: block;
  margin: auto;
}
