html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

button, #extend_learn {
  display: block;
  margin: 10px auto;
  padding: 10px;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  color: #ffffff;
  border-radius: 6px;
  background-color: #11468f;
  font-size: 1rem;
}
button:hover, #extend_learn:hover {
  background-color: #0356bb;
  cursor: pointer;
}

#extend_learn {
  background-color: red;
  font-size: 1rem;
}

/* mobile first approach */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 2rem;
}

/* for desktop */
@media all and (min-device-width: 500px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 1rem;
    max-width: 1920px;
  }
}
.flex__card {
  background-color: #ffffff;
  margin: 0.8em;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* for tablet */
@media all and (min-device-width: 768px) {
  .flex__card {
    max-width: 40%;
  }
}
/* for desktop */
@media all and (min-device-width: 1200px) {
  .flex__card {
    max-width: 18%;
  }
}
img {
  width: 70%;
  display: block;
  margin: auto;
}/*# sourceMappingURL=style.css.map */